body{
  background-color: hwb(180 92% 7%);
}
#SPlog{
  width: 100px;
  height: 100px;
  border-radius: 50%;

  clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 56% 88%, 75% 100%, 56% 88%, 0 88%);
 
}
.error{
   width: 100vw;
 height: 91.5vh;
 /* top: -100px !important; */
background-color: hsl(197, 100%, 50%);
}
.nav{
  padding: 64px;
display: flex;
justify-content: space-around;
}
.h1e{
  color: rgb(255, 255, 255);
  font-size: 200px;
}
.h3{
  
  font-size: 65px;
}
.h3e{
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.pe{
  color: rgb(255, 255, 255);
  font-size: 20px;
}
form{
  margin-top: 10%;
}
.form-floating {
  position: relative;
  margin-left: 15% !important;
  margin-right: 15% !important;
}
.ftext{
  text-decoration: none;

}
.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
  color: #757575!important;
}
.w3-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}
.w3-content {
  max-width: 980px;
}
.w3-content, .w3-auto {
  margin-left: auto;
  margin-right: auto;
}
.w3-text-light-grey, .w3-hover-text-light-grey:hover, .w3-text-light-gray, .w3-hover-text-light-gray:hover {
  color: #f1f1f1!important;
}
.w3-opacity, .w3-hover-opacity:hover {
  opacity: 0.60;
}
.w3-section, .w3-code {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.w3-text-white, .w3-hover-text-white:hover {
  color: #fff!important;
}
.w3-margin-right {
  margin-right: 16px!important;
}
.w3-xxlarge {
  font-size: 36px!important;
}
.w3-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
.w3-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
button, input {
  overflow: visible;
  background-color: #fff;
  color: #757575;
}
button, input, select, textarea, optgroup {
  font: inherit;
  margin: 0;
}


.body{
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.btw{
  width: 50px !important; 
}

.cpass{
  border: transparent;
background-image: url("https://img.icons8.com/material-sharp/20/000000/visible.png");
  background-position: 97% center;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: -20px;
  margin-top: 13px;
  }
.pass{
  border: transparent;
  background-image: url("https://img.icons8.com/material-sharp/20/000000/visible.png");
  background-position: 97% center;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: -20px;
  margin-top: 13px;
}






input[type = "checkbox"]:checked{
  background-image: url("https://img.icons8.com/material-outlined/20/000000/invisible.png");
}

